* {
    margin: 0;
    box-sizing: border-box;
}

html, 
body {
    font-size: 10px;
}

html {
    scroll-behavior: smooth;
}

a {
    display: inline-block;
    text-decoration: none;
    font-family: $pagraphFont;
    font-size: $linksSizeMobile;
    color: $white;
}

h1, 
h2, 
h3,
p {
    text-align: left;
    color: #fff;
}

h1 {
    font-family:$heading1Font;
    text-transform: uppercase;
    font-size: $heading1SizeMobile;
    letter-spacing: $headingsLetterSpacing;
    font-weight: 900;

    @media ($tablet) {
        font-size: $heading1SizeDesktop;
    };
}

h2 {
    text-transform: uppercase;
    font-family:$heading2Font;
    font-size: $heading2SizeMobile;
    letter-spacing: 6;
    line-height: 1.2rem;

    @media ($tablet) {
        font-size: $heading2SizeDesktop;
        letter-spacing: $heading2LSDesktop;
    };
}

h3 {
    font-family: $heading2Font;
    font-size: $heading3SizeMobile;
    text-transform: uppercase;
    letter-spacing: $headingsLetterSpacing;
    
    @media ($tablet) {
        font-size: $heading3SizeDesktop;
    };  
}

p {
    font-size: $paragraphSizeMobile;
    font-family: $pagraphFont;
    letter-spacing: $paragraphLetterSpacing;
    line-height: 2;
    @media ($tablet) {
        font-size: $paragraphSizeDesktop;
    };  
}

.btn {
    transition: 0.33s;
    position: relative;
    text-transform: uppercase;
    font-size: $buttonFontSize;
    font-family: $buttonFont;
    letter-spacing: 10;
    
    &:hover {
        scale: 1.05;  
    }
    
    &::after{
        padding-left: 1.2rem;
        font: var(--fa-font-solid);
        content: '\f054';
    }
}

.btn-light{
    &:hover{
        background-color: $buttonColor;
        border-color: transparent;
        color: $buttonFontColor;
    }
}

.divider {
    height: $dividerHeight;
}

//Anims

//Parents

