// colors
$white: #fff;
$black: #000;

$primaryColor:#002859;
$secondaryColor:#00132B;

$buttonColor: #9263BF;

// $textColor: 
$primaryFontColor: $white; 
$buttonFontColor: #7BEDC4;

// fonts
$heading1Font:"TekoBold"; 
$heading2Font:"IntSB";
$pagraphFont:"IntReg";
$buttonFont:"IntSB";

$headingsLetterSpacing: 9;
$paragraphLetterSpacing: 2;

// sizes
$heading1Size: 16rem;
$heading2Size: 2.2rem;
$heading3Size: 2rem;
$paragraphSize:  3.3rem;


//screens
