// colors
$white: #fff;
$black: #000;

$primaryColor:#002859;
$secondaryColor:#00132B;

$buttonColor: #9263BF;

// $textColor: 
$primaryFontColor: $white; 
$buttonFontColor: #7BEDC4;

// fonts
$heading1Font:"TekoBold"; 
$heading2Font:"IntSB";
$pagraphFont:"IntReg";
$buttonFont:"IntSB";

$headingsLetterSpacing: 5;
$paragraphLetterSpacing: 0.2;
$buttonLS: 5;

// mobile sizes
$heading1SizeMobile: 3.5rem;
$heading2SizeMobile: 1rem;
$heading3SizeMobile: 2rem;
$paragraphSizeMobile:  1.4rem;
$dividerHeight: 500px;
$linksSizeMobile: 1.6rem;
$buttonFontSize: 1.2rem;

//desktop sizes
$heading1SizeDesktop: 14rem; 
$heading2SizeDesktop: 1.6rem; 
$heading3SizeDesktop: 2rem;
$paragraphSizeDesktop: 2.3rem;

$heading2LSDesktop: 10;

//screens

$tablet: "min-width: 768px";
$desktop: "min-width: 1024px";

//animation speed
$slowAnim: 0.33s;
$regAnim: 0.25s;