// colors
$white: #fff;
$black: #000;

$primaryColor:#002859;
$secondaryColor:#00132B;

$buttonColor: #9263BF;

// $textColor: 
$primaryFontColor: $white; 
$buttonFontColor: #7BEDC4;

// fonts
$heading1Font:"TekoBold"; 
$heading2Font:"IntSB";
$pagraphFont:"IntReg";
$buttonFont:"IntSB";

$headingsLetterSpacing: 9;
$paragraphLetterSpacing: 2;

// sizes

// mobile
$heading1Size: 5.5rem;
$heading2Size: 1rem;
$heading3Size: 2rem;
$paragraphSize:  2.5rem;
$dividerHeight: 500px;

//mobile
$heading1SizeDesktop: 14rem; 
$heading2SizeDersktop: 2.2rem; 

//screens

$tablet: "min-width: 767px";
$desktop: "min-width: 1024px";