.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    margin: 10rem auto;
    background-color: $white;
    width: 70%;
    // height: 100vh;
    border-radius: 30px;

    &__title {
        width: 80%;
        font-size: 10rem;
        line-height: 1.55;

        @media ($mobilesMicroMax) {
            font-size: 5rem;
            margin-top: 4rem;
        }

        @media ($desktopMax) {
            margin-top: 1rem;
            line-height: 1.2;
        }
    }
    
    &__description {
        margin: 8rem 2rem 8rem 0;
        margin-left: 9.5rem;
        width: 45%;
        // outline: 1px solid red;
        
        & > h1 { 
            color: $primaryColor;
            margin-bottom: 5rem;

            @media ($mobilesMicroMax) {
                margin-bottom: 1.4rem;                
            }

        }
        & > p{
            color: $contactParagraphFontColor;
            width: 90%;

            @media ($mobilesMicroMax) {
                font-size: 1.3rem;
            }
            @media ($desktopMax) {
                font-size: 1.8rem;
                margin-top: 0;
            }
        
        }

        @media ($mobilesLMax) {
            margin: 0;
            width: 80%;
        }

    }
    
    &__input {
        margin: 8rem 4rem;
        margin-left: 1rem;
        margin-right: 9.5rem;
        // outline: 1px solid red;
        flex-grow: 1;

        @media ($mobilesLMax) {
            margin: 2rem auto;
        }
    }

    @media ($desktopMax) {
        margin: 5rem auto;
        width: 90%;
        
    }

    @media ($mobilesLMax) {
        flex-wrap: wrap;
        margin: 6rem auto;
        width: 85%;
    }

}

form {
    & > input {
        transition: $regAnim;
        font-size: 2.4rem;
        font-weight: 500;
        margin: 2rem 0;
        border-radius: 20px;
        padding: 3rem;
        width: 100%;

        color: $primaryColor;
        background-color: $inputBGColor;
        border: none;


        @media ($mobilesMicroMax) {
            padding: 1.8rem;
            width: 80%;
            margin: 1rem 3rem;
            font-size: 1.7rem;
        }

        @media ($desktopMax) {
            width: 80%;
            margin-left: 3rem;
        }
    }

    & > textarea {
        margin: 2rem 0; 
        width: 100%;
        min-height: 200px;
        padding: 3rem 3rem;
        font-size: $textareaSizeMobile;
        color: $primaryColor;
        font-family: $pagraphFont;
        border-radius: 20px;
        border: none;
        background-color: $inputBGColor;
        resize: none;

        @media ($desktopMax) {
            width: 80%;
            margin-left: 3rem;
        }

        @media ($mobilesMicroMax) {
            width: 80%;
            margin: 1rem 3rem;
            font-size: 1.7rem;
        }
    }

    & > .formSubmit {
        text-transform: uppercase;
        background-color: $primaryColor;
        color: $white;
        text-align: left;
        padding: 3rem 4rem;
    
    }
}

::placeholder {
    color: $primaryColor;
}

input:focus {
    // border: transparent;
    outline: 2px solid $primaryColor;
    background-color: $inputBGHoverColor ;

}