.logo {
    background-color: #fff;

    @media ($tablet) {
        display: flex;
        justify-content: center;
        padding: 6rem;    
    }
    
    & > img{
        padding: 3rem 5rem;
        background-color: #fff;
        // max-height: 0%;
        max-width: 100%;
    }
}