.welcome{
    animation: fadeInLeft 1.3s forwards;
    animation-timing-function: cubic-bezier(cubic-bezier(.25,.1,.25,1));
    min-height: 60vh;
    margin: auto;
    padding: 18rem 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: 3px solid rgb(137, 211, 137);

    & > h2, h1, p {
        margin: 1.4rem 0;
    }
    
    & > h1 {
        margin-bottom: 2.5rem;
    }

    @media ($mobilesM) {
        margin: 0 auto;
        padding: 0;
        max-width: 90%;        
    }

    @media ($desktop) {
        max-width: 70%;
    }

    @media ($desktopL) {
        margin: auto;
        padding: 18rem 13rem;
        max-width: 67%;
    }
}