.welcome{
    min-height: 60vh;
    padding: 6.5rem 3rem;

    & > h2, h1, p {
        margin: 1.4rem 0;
    }
    
    & > h1 {
        margin-bottom: 2.5rem;
    }

    @media ($tablet) {
        max-width: 67%;
        margin: auto;
        padding: 18rem 13rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // outline: 3px solid #0f0;
    }


}